<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Wealthfolio needs camera access to scan QR codes for device pairing.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Wealthfolio uses Face ID to protect access to your financial data.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
